<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>My Profile</title>
    <th:block th:include="fragments/commons::head"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <meta charset="UTF-8">
</head>
<header th:replace="fragments/commons::nav"></header>

<body class="bg-blur">

    <div class="main-div" th:object="${user}">
            <div class="text-center mt-5 title-div">
                <h1 th:text="*{username}" class=" font-weight-bold"></h1>
                <button type="button" class="btn font-weight-bold" data-toggle="modal" data-target="#changeUsernameModal">
                    &#128736;
                </button>
            </div>
            <th:block th:if="${didYouPutWrongInput == true}">
                <div class="mx-auto text-center mb-1">
                    <small class="text-danger">A workout with this name already exists.</small>
                </div>
            </th:block>
            <div class="mt-3">
                <img th:if="*{profilePictureString == ''}" class="rounded-circle profile-img" th:src="@{/images/defPic.png}"/>
                <img th:unless="*{profilePictureString == ''}" class="rounded-circle profile-img"
                     th:src="*{'data:image/jpg;base64,'+ profilePictureString}"/>
            </div>
            <div class="text-center">
                <button type="button" class="btn mt-4 font-weight-bold text-uppercase change-profile-button" data-toggle="modal" data-target="#profilePictureModal">
                    Change profile picture
                </button>
            </div>
            <div class="text-center mt-3"  >
                <div class="open-edit-div">
                    <a>
                        <button th:onclick="displayInfo()" id="show-button1" class="btn text-uppercase font-weight-bold text-center float-left" type="button">+</button>
                    </a>
                    <a>
                        <button th:onclick="displayInfo()" id="show-button2" class="btn text-uppercase font-weight-bold text-center float-right" type="button">+</button>
                    </a>
                </div>

            </div>

            <div id="info-div" hidden="" class="mt-3" >
                <div class="mb-5 property-div">
                    <ol class="details-list">
                        <li><span class="property-span">First Name: </span><span class="my-property-span" th:text="*{firstName}"></span></li>
                        <li><span class="property-span">Last Name: </span><span class="my-property-span" th:text="*{lastName}"></span></li>
                        <li><span class="property-span">Email: </span><span class="my-property-span" th:text="*{email}"></span></li>
                        <li><span class="property-span">Age: </span><span class="my-property-span" th:text="*{age}"></span></li>
                        <li><span class="property-span">Weight: </span><span class="my-property-span" th:text="*{weight}"></span></li>
                        <li><span class="property-span">Height: </span><span class="my-property-span" th:text="*{height}"></span></li>
                        <li><span class="property-span">Body Type: </span><span class="my-property-span" th:text="*{bodyType}"></span></li>
                    </ol>
                    <div class="mb-2 edit-button">
                        <a th:href="@{/users/my-profile/edit}">
                            <button class="mt-2 float-left btn text-uppercase font-weight-bold mb-2">Edit</button>
                        </a>

                        <button class="mt-2 float-right btn text-uppercase font-weight-bold mb-2" th:onclick="cancelDisplay()">Cancel</button>
                    </div>
                </div>
            </div>
    </div>


    <!-- Profile picture form -->
    <div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog" aria-labelledby="profilePictureModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/users/upload-picture}" th:method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profilePictureModalLabel">Change profile picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input style="border: black" type="file" id="file" class="form-control-file" name="file"
                               accept="image/x-png,image/jpeg,image/jpg">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Profile username form -->
    <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="changeUsernameLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/users/change-username}" th:method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePhraseLabel">Change username</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="username">Username</label>
                        <input th:field="${user.username}" type="text" minlength="4" maxlength="30" id="username" name="username" class="form-control" th:placeholder="${user.username}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/profilePage.js}"></script>
    <footer th:replace="fragments/commons::footer"></footer>
</body>

</html>