<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<header  th:replace="fragments/commons::nav"></header>

<body class="bg-blur allWO"  th:object="${workouts}">
        <th:block th:if="${workouts.size() != 0}">
            <h1 class="text-center m-4" >All Workouts:</h1>
            <div class="p-2 text-center">
                <div class="m-3" style="display:inline-block" th:each="workout : ${workouts}">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title text-center" th:text="${workout.workoutName}"></h5>
                              <p class="card-text" th:text="${workout.description}"></p>
                              <a th:href="@{/workout/details/{id}(id=${workout.id})}" class="flex btn btn-primary">Details</a>
                          </div>
                     </div>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${workouts.size() != 0}">
            <div class="col p-2 w-100 h-100 justify-content-center" style="min-height: 600px">
                <h1 class="text-center m-3" style="font-weight:600">All Workouts</h1>
                <h3 class="text-center m-2" style="font-weight:600">No workouts currently :(</h3>
                <h3 class="text-center" ><a th:href="@{/workout/add}">Add some</a></h3>
            </div>
        </th:block>


</body>

<footer th:replace="fragments/commons::footer"></footer>
</html>



